<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangyuwenhua.school.entity.UserMapper">
    <select id="findAll" resultType="com.xiangyuwenhua.school.entity.UserInfo">
        select * from user_info
    </select>
    <insert id="addUser" parameterType="com.xiangyuwenhua.school.entity.UserInfo"
     useGeneratedKeys="true" keyProperty="id">
      insert into user_info (name, pwd) values (#{name},#{pwd})
    </insert>
    <insert id="addThermometer" parameterType="com.xiangyuwenhua.school.entity.Thermometer" useGeneratedKeys="true" keyProperty="id">
        insert into thermometer (t,h,time) value (#{t},#{h},#{time})
    </insert>

</mapper>